<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="custompayment" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Custom Payment Method</label>
                <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                    <label>Custom Payment</label>
                </field>
                <field id="customer_group_list" translate="label" type="multiselect" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                    <label>Select Customer Groups To Enable Payment Method For</label>
                    <source_model>Mohith\CustomPayment\Model\Adminhtml\System\Config\Source\Customer\Group</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
